.sports-header img{

    width: 290px;
    height: 60px;
}

.header-font{

    font-weight: bold !important;
    color: black !important;
    margin-bottom: 10px;
    margin-left: 140px;
   
    font-size: 20px !important;

}

.header-font1,.header-font2{
    font-weight: bold !important;
    color: black !important;
    font-size: 20px !important;
    margin-left: 10px;
}
   
.btn-primary{

    margin-left: 140px;
 

    width: 90px;
    height: 40px;
}

.btn-success{

    width: 90px;
    height: 40px;
    margin-left: 5px;
}

.header-font:not(:last-child),
.header-font1:not(:last-child),
.header-font2:not(:last-child) {
  margin-right: 2.5rem;
}


@media only screen and (max-width: 768px) {
    .sports-header img {
      width: 200px;
      height: 40px;
    }
    
    .header-font {
      margin-right:0;
      font-size: 15px !important;
    }
  
    .header-font1{
      font-size: 15px !important;
      margin-left: 138px;
    }
    .header-font2{
        font-size: 15px !important;
        margin-left: 70px;
      }
  
    .btn-primary {
    
      visibility: hidden;
    }
    
    .btn-success {
   
      visibility: hidden;
      /* margin-top: 10px; */
    }
  }